@font-face {
  font-family: 'NanumSquare Neo';
  src:
    url('/fonts/woff2/NanumSquareNeo-Variable.woff2') format('woff2'),
    url('/fonts/woff/NanumSquareNeo-Variable.woff') format('woff'),
    url('/fonts/TTF/NanumSquareNeo-aLt.ttf') format('truetype'),
    url('/fonts/OTF/NanumSquareNeoOTF-Bd.otf') format('opentype');
  font-weight: normal;

  font-display: swap;
}

/* 전역 폰트 설정 및 폰트 스무딩 */
html,
body {
  font-family: 'NanumSquare Neo', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 나머지 스타일 */
#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

/* 기타 스타일 (중복 제거) */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html,
body {
  overflow-x: hidden;
  scrollbar-width: none;
  font-synthesis: none;
}
