/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); */

@font-face {
  font-family: 'NanumSquare Neo';
  src:
    url('/fonts/woff2/NanumSquareNeo-Variable.woff2') format('woff2'),
    url('/fonts/woff/NanumSquareNeo-Variable.woff') format('woff'),
    url('/fonts/TTF/NanumSquareNeo-aLt.ttf') format('truetype'),
    url('/fonts/OTF/NanumSquareNeoOTF-Bd.otf') format('opentype');
  font-weight: 100 900;

  font-display: swap;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 1rem; */
}

body.PersonalLink #root {
  max-width: 1000px;
  padding: 0 !important;
}

body.landing #root {
  max-width: 1000px;
  padding: 0 !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

html,
body {
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: 'NanumSquare Neo', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
