/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); */

@font-face {
  font-family: 'NanumSquare Neo';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: 
    /* 먼저 woff2 */
    url('/fonts/woff2/NanumSquareNeo-Variable.woff2') format('woff2'),
    /* 다음 woff */ url('/fonts/woff/NanumSquareNeo-Variable.woff')
      format('woff'),
    /* 이후 TTF (TrueType) */ url('/fonts/TTF/NanumSquareNeo-aLt.ttf')
      format('truetype'),
    url('/fonts/TTF/NanumSquare_acB.ttf') format('truetype'),
    url('/fonts/TTF/NanumSquare_acEB.ttf') format('truetype'),
    url('/fonts/TTF/NanumSquare_acL.ttf') format('truetype'),
    url('/fonts/TTF/NanumSquare_acR.ttf') format('truetype'),
    url('/fonts/TTF/NanumSquareB.ttf') format('truetype'),
    url('/fonts/TTF/NanumSquareEB.ttf') format('truetype'),
    url('/fonts/TTF/NanumSquareL.ttf') format('truetype'),
    url('/fonts/TTF/NanumSquareR.ttf') format('truetype'),
    /* 마지막으로 OTF (OpenType) */ url('/fonts/OTF/NanumSquareB.otf')
      format('opentype'),
    url('/fonts/OTF/NanumSquareEB.otf') format('opentype'),
    url('/fonts/OTF/NanumSquareL.otf') format('opentype'),
    url('/fonts/OTF/NanumSquareR.otf') format('opentype');
}

#root {
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 1rem; */
}

body.PersonalLink #root {
  max-width: 1000px;
  padding: 0 !important;
}

body.landing #root {
  max-width: 1000px;
  padding: 0 !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

html,
body {
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: 'NanumSquare Neo', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  touch-action: pan-x pan-y;

  font-family: 'NanumSquare Neo', 'Malgun Gothic', 'Segoe UI', sans-serif;
}
